doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Foundation 5 Template
    .row 
      .small-4.columns
        label &nbsp
        button.radius.tiny.expand#one One
        label &nbsp
      .small-4.columns
        label &nbsp
        button.radius.tiny.expand#two Two
      .small-4.columns
        #one-response

    .row 
      .small-4.columns
        label Enter number
        input#input1(type='text')
      .small-4.columns
        label Entre number
        input#input2(type='text')
      .small-4.columns
        label &nbsp
        button.radius.tiny.expand#add Add
    .row 
      .small-12.columns
    .row 
      .small-12.columns
        #sum.spacer
    .row 
      .small-4.columns
        label Entre name
        input#name(type='text')
      .small-4.columns
        label Entre age
        input#age(type='text')
      .small-4.columns
        label &nbsp
        button.radius.tiny.expand#drink Can Drink?
    .row 
      .small-12.columns
    .row 
      .small-12.columns
        #result.spacer
    .row 
      .small-4.columns
        label Entre numbers
        input#numbers(type='text')
      .small-4.columns
        label Product
        button.radius.tiny.expand#product Product
      .small-4.columns
        #resultPro
    .row 
      .small-4.columns
        label Entre Names 
        input#names(type='text')
      .small-4.columns
        label Calculate
        button.radius.tiny.expand#calculate Let's Dance
      .small-4.columns
        #dance


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

