doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Animal Shelter
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
      .panel
        h1 Animal Shelter
    .row
      .small-12.columns
        form
          fieldset
            legend Animal Shelter
            .row
              .small-4.columns
                label Species
                input#species(type='text', autofocus=true)
              .small-4.columns
                label Color
                input#color(type='text')
              .small-4.columns
            .row
              .small-4.columns
                label Age
                input#age(type='text')
              .small-4.columns
                label Name
                input#name(type='text')
              .small-4.columns
            .row
              .small-4.columns
                label Gender
                input#gender(type='text')
            .row
              .small-8.columns
                label Description
                textarea#desc
              .small-4.columns
            .row
              .small-4.columns
            .row
              .small-4.columns
                label Photo
                input#photo(type='text')
              .small-2.columns
                label &nbsp
                button.small.radius#addPhoto Add photo
              .small-2.columns
                label &nbsp
                button.small.radius#addAnimal Add animal
              .small-4.columns

            .row
              .small-12.columns

            #container
    .row
      .small-12.columns
        table
          thead
            tr
              th Name
              th Species
              th  Age
              th  Gender
              th  Color
              th  Description
              th  Photos
          tbody


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/animal.js')
    script(src='/js/source/animal_factory.js')
    script(src='/js/source/main.js')
    script $(document).foundation()

