doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Exercises List
    .row
      .small-8.columns
        table#exercises
          thead
            tr
              th Name
              th Time
              th Calories
              th Date
          tbody#body
      .small-4.columns
        b Create new exercise:
        label &nbsp
        label Name
        input#name
        label &nbsp
        label Time 
        input#time
        label &nbsp
        label Calories
        input#cals
        label &nbsp
        label Date
        input#date
        label &nbsp
        button.radius#create-exercise Create Exercise
        label &nbsp
        b Filter by name:
        label &nbsp
        select#names
        label &nbsp
        button.radius.expand#filter Filter List
        label &nbsp
        button.radius.expand#reset Reset List
      .small-4.columns


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

