doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Movies
    .row
      .small-4.columns
        button.tiny.radius.expand.alert#toggel Toggel
      .small-12.columns
        form#movie
          fieldset
            .row
              .small-3.columns
                label Enter Name
                input#name(type='text', name='name') 
              .small-3.columns
                label Enter Rating
                input#rating(type='text', name='rating') 
              .small-3.columns
                label Run time
                input#length(type='text', name='length') 
              .small-3.columns
                label Release Year
                input#year(type='text', name='year') 
            .row
              .small-3.columns
                label Studio
                input#studio(type='text', name='studio') 
              .small-3.columns
                label Enter Director
                input#director(type='text', name='director') 
              .small-6.columns
                label Enter Poster
                input#poster(type='text', name='poster') 
            .row
              .small-12.columns
                input#id(type='hidden', name='id') 
            .row
              .small-12.columns
                label Enter Actors
                input#actors(type='text', name='actors') 
            .row
              .small-12.columns
                label &nbsp
                button.radius#add-movies Add Movie 
              .small-12.columns
                label &nbsp
                button.radius#update Update Movie 
      .row
        .small-12.columns
          #result
            table 
              thead
                tr
                  th Poster
                  th Name
                  th Rating
                  th Length
                  th Year
                  th Studio
                  th Actors
                  th Director
                  th Remove
              tbody#tbody


          script(src='/js/vendor/jquery.js')
          script(src='/js/vendor/foundation.js')
          script(src='/js/vendor/lodash.js')
          script(src='/js/source/main.js')

