doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    .row
      .small-12.columns
        h1 Foundation 5 Template
    .row
      .small-3.columns
        select#animal
          option Dog
          option Cat
      .small-3.columns
        input#name(type='text' placeholder='name' )
      .small-3.columns
        input#gender(type='text' placeholder='gender')
      .small-3.columns
        input#age(type='text' placeholder='age')
    .row
      .small-3.columns
      .small-9.columns
        button.radius.expand#create Create

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')
