doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/flags.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1=title
    .row
      .small-4.columns
        label Match Countries & Flags
        button#toggle.alert.tiny.round Start
   #game.hide
    .row
      .small-6.columns
        #timer
    .row
      .small-6.columns
        each c in countries
          p.country(class='country-'+ c.country)= c.country
      .small-6.columns
        each f in flags
         div:.flag(class='flag-'+ f.flag value=f.flag)

    .row
      .small-6.columns
        table#score
          thead
            tr
              th Username
              th Score
          tbody

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

