doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title OOP test
    link(rel='stylesheet', href='/css/qunit.css')
    //link(rel='stylesheet', href='/css/foundation.css')
    //script(src='/js/vendor/modernizr.js')
  body
    #qunit
    #qunit-fixture

    script(src='js/vendor/qunit.js')
    script(src='js/vendor/jquery.js')
    script(src='js/vendor/lodash.js')
    script(src='js/source/client.js')
    script(src='js/source/portfolio.js')
    script(src='js/source/stock.js')
    script(src='js/source/test.js')
