@import url('http://fonts.googleapis.com/css?family=Kaushan+Script');

body{
  position: relative;
  background-image: url('http://fc06.deviantart.net/fs70/i/2011/309/b/0/notepad_icon_2_by_wakaba556-d4f6o37.png');
  background-size: cover;

}

.showLogin{
  margin-right: 25px;
  color: black;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px!important;
}

#wrapper{
  position: relative;
  top: 100px;
  width: 200px;
  margin: auto;
}

a{
  position: relative;
  color: black;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px!important;
}
.showLogin:hover{
  color: blue;
  text-decoration: underline;
}
.showRegister{
  color: black;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px!important;
}

.showRegister:hover{
  color: blue;
  text-decoration: underline;
}
h1{
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

fieldset{
  border-radius: 6px;
  background-color: #FFD800;
  box-shadow: -2px 4px 5px 3px rgba(0,0,0,0.75);
}


#log{
  position: relative;
  top: 129px;
  left: 30px;

}


#reg{
  position: relative;
  top: 129px;
  left: 30px;
}

